.card {
    padding: var(--size-m);
    border-radius: var(--size-xxl);
    color: var(--color-blue);
    align-items: center;
    gap: var(--size-m);
    display: flex;
    box-shadow: inset 0 0 0 6px var(--color-blue), 0 0 0 0 var(--color-blue);
    transition: box-shadow 0.1s;
    cursor: pointer;
    text-decoration: unset;

    .type {
        background: var(--color-blue);
        color: var(--color-background);
        padding: var(--size-s);
        border-radius: 50%;
        transition: transform 0.2s;

        svg {
            width: var(--size-xl);
            height: var(--size-xl);
            display: block;
        }
    }

    .recommendedBy {
        display: flex;
        margin-left: auto;
        margin-right: var(--size-xs);

        .person {
            margin-left: calc(var(--size-xs) * -1);
            background-size: cover;
            position: relative;
            display: flex;
            align-items: center;
            position: relative;
            border-radius: 50%;
            height: var(--size-xl);
            width: var(--size-xl);
            padding: var(--size-s);
            justify-content: center;

            &:after {
                content: '';
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                background: var(--color-blue);
                opacity: 0.2;
                z-index: -1;
            }
        }
    }

    @media (hover: hover) {
        &:hover {
            box-shadow: inset 0 0 0 12px var(--color-blue), 0 0 0 4px var(--color-blue);

            .type {
                transform: translate3d(0, 0, 0) rotate(20deg);
            }
        }
    }
}