.card {
    padding: var(--size-l);
    border-radius: var(--size-xxl);
    color: var(--color-blue);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--size-xxl);
    box-shadow: inset 0 0 0 6px var(--color-blue), 0 0 0 0 var(--color-blue);
    transition: box-shadow 0.1s;
    cursor: pointer;
    word-break: break-word;

    .header {
        display: flex;
        gap: var(--size-s);
        align-items: stretch;

        .recommendedBy {
            display: flex;
            align-items: center;
            width: auto;

            .person {
                width: auto;
                height: 100%;
                margin-right: calc(var(--size-s) * -1);
                aspect-ratio: 1 / 1;
                border-radius: 50%;
                background: var(--color-background);
                box-shadow: inset 0 0 0 6px var(--color-blue);
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

    @media (hover: hover) {
        &:hover {
            box-shadow: inset 0 0 0 12px var(--color-blue), 0 0 0 4px var(--color-blue);
        }
    }
}