@import '@/app/breakpoints';

.tag {
    background: var(--color-blue);
    color: var(--color-background);
    border-radius: var(--size-xl);
    display: inline-flex;
    padding: var(--size-s) var(--size-l);
    gap: var(--size-xs);
    align-items: center;

    @media (max-width: $viewport-tablet) {
        padding: var(--size-s) var(--size-m);
        gap: var(--size-xxs);
    }

    svg {
        display: block;
        width: var(--size-l);
        height: var(--size-l);

        @media (max-width: $viewport-tablet) {
            width: var(--size-m);
            height: var(--size-m);
        }
    }
}